<div class="centered">
  <div class="centered_content">
    <img class="kitten_logo" src="http://corenaturopathics.com.au/wp-content/uploads/2013/10/Fluffy-Kitten.jpg">
    <div class="right_blurb">
      <h2>I think you may be lost....</h2>
    </div>
  </div>
</div>
