<div class="container">
  <h1>Login</h1>

  <form id="login" method="post" action="/user_verification">
    <label class="label" for="email">Email</label>
    <input type="email" name="email" placeholder="e.g., me@example.com" value="<%= @email %>"><br>
    <label class="label" for="password">Password</label>
    <input type="password" name="password" placeholder="6 or more characters">
    <br>
    <div class="submit"><input type="submit" value="Login"></div>
  </form>

</div>
