<div class="centered">
  <div class="centered_content">
    <img class="koko_logo" src="http://3.bp.blogspot.com/_z6yKs4Pva0w/S-46EfzFLNI/AAAAAAAADGs/IhPnWEwS6_U/s1600/gorilla-clean.gif">
    <div class="right_blurb">
      <h2>Thank you!</h2>
    </div>
  </div>
</div>
